<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>What you missed</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    The most seen<br>
    Projects to be listed<br>
    See more<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>VIEW ALL</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Profiles you've seen</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    Lo más visto<br>
    Projects to be listed<br>
    Ver<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>VIEW ALL</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Your Projects</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    The most seen<br>
    Projects to be listed<br>
    Ver<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>VIEW ALL</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Projects close to completion</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    The most seen<br>
    Projects to be listed<br>
    See<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>VIEW ALL</button>

  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Inbox</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    The most seen<br>
    Projects to be listed<br>
    See<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>READ</button>
  </mat-card-actions>
</mat-card>

<mat-card class="example-card">
  <mat-card-title-group>
    <mat-card-title>Your most valued Project</mat-card-title>
  </mat-card-title-group>
  <mat-card-content>
    The most seen<br>
    Projects to be listed<br>
    See<br>
  </mat-card-content>
  <mat-card-actions class="button" align="end">
    <button mat-button>VIEW</button>
  </mat-card-actions>
</mat-card>

